#bus{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#bus1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#bus2{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#hall1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#hall2{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#gym1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#gym2{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#hospital1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#hospital2{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}
#hospital3{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}
#hospital4{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#park1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}
#park2{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#police1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#police2{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#police3{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#beach1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#beach2{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#r_s{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;
}


#museum1{

width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;

}


#museum2{

width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;

}
#museum3{

width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;

}
#museum4{

width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;

}

#lake{

width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;

}

#temple1{

width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;

}

#temple2{

width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;

}

#temple3{

width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;

}

#temple4{

width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;

}

#temple5{

width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;

}

#temple6{

width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;
}
