#indian1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#indian2{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#indian3{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#indian4{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#indian5{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#indian6{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#indian7{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#indian8{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#indian9{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#indian10{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#south1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}









#seafood1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#seafood2{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#seafood3{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#seafood4{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}



#multi1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#multi2{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}







#chinese1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#chinese2{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#chinese3{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#chinese4{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#chinese5{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}



#bakery1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#bakery2{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#bakery3{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#bakery4{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#bakery5{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}




#bakery6{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#bakery7{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#bakery8{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}



#pizza1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#pizza2{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#pizza3{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#pizza4{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}



#burger1{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#burger2{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}


#burger3{
width:403px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}