

#p0{

display:none;
position:absolute;
left:0px;
top:120px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}
#p0n0{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#FB4141;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}


#p1{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}

#p1n1{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#6A2727;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}
#p2{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}
	
#p2n2{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#4957BF;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}	

#p3{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	

#p3n3{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#835535;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}		
	
#p4{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	




#p4n4{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#0FD4EB;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}

			
	
#p5{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	

#p5n5{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#E74343;
color:black;
opacity:0.95;
border:1px solid black;
overflow-x:hidden;
}				
	
#p6{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
	
#p6n6{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#7492F3;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}				
#p7{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
#p7n7{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#4FA9FF;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}				
	
#p8{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.9;
border:1px solid black;
}	
#p8n8{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#F39230;
color:black;
opacity:0.96;
border:1px solid black;
overflow-x:hidden;
}				
	
#p9{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:26px;
color:black;
opacity:0.8;
border:1px solid black;
}	
#p9n9{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#262245;
color:black;
opacity:0.96;
border:1px solid black;
overflow-x:hidden;
}			
	
#p10{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
	
#p10n10{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#91CF4B;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}				
#p11{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
#p11n11{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#875726;
color:black;
opacity:0.8;
border:1px solid black;
overflow-x:hidden;
}					
	
#p12{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
	
#p12n12{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#BEE7F9;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}				

#p13{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
	
#p13n13{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#4C84E7;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}				

#p14{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
	
#p14n14{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#ECDF3F;
color:black;
opacity:0.95;
border:1px solid black;
overflow-x:hidden;
}				

#p15{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:27px;
color:black;
opacity:0.8;
border:1px solid black;
}	
	
#p15n15{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#47463F;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}	


#p16{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
	
#p16n16{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#FDFFD1;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}							