#clothesshop1{
width:405px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#clothesshop2{
width:405px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#groceryshop1{
width:405px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#groceryshop2{
width:405px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#groceryshop3{
width:405px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#sportshop1{
width:405px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#medicinehop1{
width:405px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}
#medicineshop2{
width:405px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}
#medicineshop3{
width:405px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#medicineshop4{
width:405px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#mallshop1{
width:405px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}

#mallshop2{
width:405px;
height:350px;
background-color:black;
opacity:0.98;
display:none;
position:absolute;
left:0px;
top:0px;


}