#panel0{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}
#panel0_0{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#52AFCA;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}


#panel1{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}

#panel1_1{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#4D3287;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}
#panel2{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}
	
#panel2_2{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#536E9C;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}	

#panel3{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	

#panel3_3{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#3D485B;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}		
	
#panel4{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	




#panel4_4{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#0FD4EB;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}

			
	
#panel5{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	

#panel5_5{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#97ED09;
color:black;
opacity:0.8;
border:1px solid black;
overflow-x:hidden;
}				
	
#panel6{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
	
#panel6_6{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#ACF0ED;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}				
#panel7{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
#panel7_7{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#EBF0A3;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}				
	
#panel8{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
#panel8_8{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#2A33C3;
color:black;
opacity:0.8;
border:1px solid black;
overflow-x:hidden;
}				
	
#panel9{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
#panel9_9{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#8C8C8E;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}			
	
#panel10{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
	
#panel10_10{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#8C9FD8;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}				
#panel11{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
#panel11_11{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#D42876;
color:black;
opacity:0.8;
border:1px solid black;
overflow-x:hidden;
}					
	
#panel12{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	
	
#panel12_12{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#EEAE5C;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}				