#hotel1{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}

#hotel11{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#0BA5E8;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}
#hotel2{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}
	
#hotel22{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#EE640B;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}	

#hotel3{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	

#hotel33{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#0FD4EB;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}		
	
#hotel4{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	




#hotel44{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#111475;
color:black;
opacity:0.95;
border:1px solid black;
overflow-x:hidden;
}


#hotel5{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	




#hotel55{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#E40E38;
color:black;
opacity:0.95;
border:1px solid black;
overflow-x:hidden;

}