#shop1{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}

#shop11{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#BEC7F2;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}
#shop2{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}
	
#shop22{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#0C207F;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}	

#shop3{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	

#shop33{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#97BBBA;
color:black;
opacity:0.9;
border:1px solid black;
overflow-x:hidden;
}		
	
#shop4{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	




#shop44{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#77F171;
color:black;
opacity:0.95;
border:1px solid black;
overflow-x:hidden;
}


#shop5{

display:none;
position:absolute;
left:74px;
top:877px;
width:298px;
height:98px;
background-color:white;
font-family:'Capriola';
font-size:30px;
color:black;
opacity:0.8;
border:1px solid black;
}	




#shop55{

display:none;
position:absolute;
left:0px;
top:100px;
width:1200px;
height:700px;
background-color:#AFF74C;
color:black;
opacity:0.95;
border:1px solid black;
overflow-x:hidden;

}